<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
        />
        <title>Login | ATM</title>
        <link rel="stylesheet" href="css/bootstrap.css" />
    </head>
    <body style="background-color: #e7e7e7">
        <div class="messages position-fixed p-3" style="z-index: 5; right: 0">
            <th:block th:if="${session.error}">
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <h4 class="alert-heading" data-th-text="${session.errorTitle}"></h4>
                    <p class="mb-0" data-th-text="${session.errorMessage}"></p>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </th:block>
        </div>

        <main class="container d-flex align-items-center justify-content-center pb-5" style="height: 100vh">
            <form action="/login" method="POST" class="d-flex flex-column align-items-center">
                <img
                    data-th-src="@{/img/logo.jpeg}"
                    alt="Logo Dim Dim"
                    class="d-block rounded-circle bg-white"
                    style="width: 50%; height: 100px; object-fit: contain"
                />

                <div class="form-group has-validation">
                    <label for="agency">Agência</label>
                    <input
                        id="account_agency"
                        name="agency"
                        class="form-control"
                        placeholder="e.g. 1611"
                        pattern="^[0-9]{4}$"
                        required
                    />
                    <small class="text-muted">Agência deve ser preenchida com 4 dígitos</small>
                </div>

                <div class="form-group mb-4">
                    <label for="account_number">Conta</label>
                    <input
                        id="account_number"
                        name="number"
                        class="form-control"
                        placeholder="e.g. 653997"
                        pattern="^[0-9]{6}$"
                        required
                    />
                    <small class="text-muted">Conta deve ser preenchida com 6 dígitos</small>
                </div>

                <button type="submit" class="btn btn-primary form-control">Acessar</button>
            </form>
        </main>
        <footer class="mt-5 fixed-bottom d-flex align-items-center flex-column">
            <p class="mb-0">2021&copy; Todos os direitos reservados.</p>
            <p>Software feito e distribuído por 21Things.</p>
        </footer>

        <script src="js/jquery-3.5.0.js"></script>
        <script src="js/bootstrap.js"></script>
    </body>
</html>
