<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=, shrink-to-fit=no"
        />
        <title>Login</title>
        <link rel="stylesheet" href="css/bootstrap.css" />
    </head>
    <body style="background-color: #e7e7e7">
        <main
            class="
                container
                d-flex
                align-items-center
                justify-content-center
                pb-5
            "
            style="height: 100vh"
        >
            <form
                action="/login"
                method="POST"
                class="d-flex flex-column align-items-center"
                th:object="${customer}"
            >
                <img
                    src="https://picsum.photos/id/237/200/300"
                    alt="Logo Dim Dim"
                    class="d-block rounded-circle"
                    style="width: 50%; max-height: 100px; object-fit: cover"
                />

                <div class="form-group has-validation">
                    <label for="agency">Agência</label>
                    <input
                        id="account_agency"
                        name="account_agency"
                        class="form-control"
                        placeholder="e.g. 1611"
                        th:field="*{account.agency}"
                        required
                    />
                    <small class="text-muted" th:errors="*{account.agency}"
                        >Agência deve ser preenchida</small
                    >
                </div>

                <div class="form-group mb-4">
                    <label for="account_number">Conta</label>
                    <input
                        id="account_number"
                        name="account_number"
                        class="form-control"
                        placeholder="e.g. 65399-7"
                        th:field="*{account.number}"
                        required
                    />
                    <small class="text-muted">Conta deve ser preenchida</small>
                </div>

                <button class="btn btn-primary form-control">Acessar</button>
            </form>
        </main>
        <footer class="mt-5 fixed-bottom d-flex align-items-center flex-column">
            <p class="mb-0">2021&copy; Todos os direitos reservados.</p>
            <p>Software feito e distribuído por 21Things.</p>
        </footer>

        <script src="js/jquery-3.5.0.js"></script>
        <script src="js/bootstrap.js"></script>
    </body>
</html>
